.App {
  text-align: center;
  justify-content: center;
}

.guess {
  max-width: 350px;
}

.btn {
  max-width: 400px;
}

.guessesInput {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 35px;
}

.line {
  display: flex;
  justify-content: center;
}

.square {
  border-radius: 15%;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 2px #535252;
  margin: 2px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.gameboard {
  margin-top: 25px;
}

.results-container {
  margin-top: 30px;
}

.word {
  font-size: 20px;
}

.correct {
  background-color: lightgreen;
  border: 2px solid green;
  position: relative;
  overflow: hidden;
}

.correct::before {
  content: "";
  opacity: 0.2;
  position: absolute;
  background: linear-gradient(#135403, #5eff00);
  width: 170px;
  height: 150%;
  animation: rotate 1s linear infinite;
}

.correct::after {
  content: "";
  position: absolute;
  opacity: 0.2;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  inset: 10px;
}

.close {
  background-color: rgb(251, 251, 114);
  border: 2px solid yellow;
  position: relative;
  overflow: hidden;
}

.close::before {
  content: "";
  opacity: 0.2;
  position: absolute;
  background: linear-gradient(rgb(255, 115, 0), rgb(255, 242, 0));
  width: 170px;
  height: 150%;
  animation: rotate 1s linear infinite;
}

.close::after {
  content: "";
  position: absolute;
  opacity: 0.2;
  background: #fff;
  border-radius: 10px;
  inset: 10px;
}

.incorrect {
  background-color: lightgrey;
}

.reset-btn {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

@media (max-width: 375px) {
  .square {
    width: 50px;
    height: 50px;
  }

  .guess {
    max-width: 250px;
  }

  button {
    width: 250px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
